@font-face {
  font-family: MyriadPro;
  src: url('./fonts/Adobe\ -\ MyriadPro-Regular.otf');
}
@font-face {
  font-family: MyriadProBlack;
  src: url('./fonts/Adobe\ -\ MyriadPro-Bold.otf');
}
*{
  box-sizing: border-box;
  font-family: 'MyriadPro', sans-serif, Arial;
}

html,body{
  margin: 0; padding: 0;
  font-size: 18px;
  height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6,p,span{
  color: #333;
  user-select: none;
}

ul,ol,li{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
/******************************/
/* HEADER */

#mainHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%);
}

  #mainHeader #logo{
    height: 100%;
  }
  #mainHeader #title{
    font-family: 'MyriadProBlack', sans-serif, Arial;
    margin: auto;
    font-size: 4em;
    letter-spacing: 4px;
  }

.spacerBar{
  height: .5em;
  background: rgb(38,116,144);
  background: linear-gradient(to bottom, rgba(38,116,144,1) 0%,rgba(116,174,196,1) 73%,rgba(69,136,159,1) 100%);
}

#subHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5em;
  background-color: #00475B;
}
  #subHeader h2, #subHeader h3{
    color: white;
    margin: .25em 0;
  }
  #subHeader #currentTime{
    margin: 0 2em;
  }
  #subHeader #kioskName{
    margin-left: auto;
  }
/******************************/
/* NOT HEADER */
#layoutWrapper{
  background: url('../img/girl.png') bottom right no-repeat;
  background-size: contain;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";

  flex: 1;
}

#navContainer{
  position: relative; /* position for z-index */
  z-index: 2;
}
  #navContainer .navButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
    transition: all .25s ease-in;
    background: linear-gradient(to bottom,#8cc0d5 0%,#045f7f 3%,#4499bb 97%,#8cc0d5 100%);
  }
  #navContainer .navButton:not(.open){
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
  }
  #navContainer .navButton.open{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
    #navContainer .navButton .navButtonLabel, #navContainer .navButton .navButtonIcon{
      pointer-events: none; /* passthrough to navButton */
    }
    #navContainer .navButton .navButtonLabel{
      color: white;
      letter-spacing: 2px;
    }
    #navContainer .navButton .navButtonIcon{
      margin-left: 1em;
      max-height: 3em;
    }

/* START: navButton and slideOut vertical alignment related styles */ 
#navContainer,#mainContainer{
  padding: 1em 0;
}
#navContainer .navButton, #mainContainer .slideOut{
  margin-bottom: 1em;
}
#navContainer .navButtonLabel, #mainContainer .slideOutButtonLabel{
  font-size: 1.5rem;
  margin: 1em 0;
}
#navContainer .navButton{
  border-bottom: 1px solid rgb(0,92,124);
  border-top: 1px solid rgb(0,92,124);
}
#mainContainer .slideOut .cutout, #mainContainer .slideOut .cutin, #mainContainer .slideOut .gradientWrapper{
  border-bottom: 1px solid rgb(0,92,124,1);
  border-top: 1px solid rgb(0,92,124,1);
}
/* END: navButton and slideOut vertical alignment styles */ 

#mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* START: SLIDEOUT STYLES */
#mainContainer .slideOut{
  display: inline-block;
  overflow: hidden;
  transition: all .25s ease-in-out;
  position: relative;
  z-index: 1;
}
#mainContainer .slideOut:not(.open){
  opacity: 0;
  margin-left: -67vw; /* matches layoutWrapper grid template */
}
#mainContainer .slideOut.open{
  opacity: 1;
  margin-left: 0;
} 
  #mainContainer .slideOut .slideOutInner{
    display: flex;
    flex-direction: row;
  }
  #mainContainer .slideOut .cutout{
    width: .75em;
    clip-path: polygon(0 0, 0% 100%, 100% 50%); 
    margin-left: -1px;/* -1px solves a subpixel rendering issue in chrome */
  }
  #mainContainer .slideOut .cutin{
    width: .75em;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 100% 50%, 0% 0%);
    margin-right: -1px;/* -1px solves a subpixel rendering issue in chrome */
  }
  #mainContainer .slideOut .cutout, #mainContainer .slideOut .cutin, #mainContainer .slideOut .gradientWrapper{
    background: linear-gradient(to bottom,#8cc0d5 0%,#045f7f 3%,#4499bb 97%,#8cc0d5 100%);
  }
/* END: SLIDEOUT STYLES */

/* START: .slideOutButtonContainer */
#mainContainer .slideOut .slideOutButtonContainer{
  display: flex;
  justify-content: flex-start;
  max-width: 50vw;
  white-space: nowrap;
  padding-right: .5em;
  width: 98%;
}

#mainContainer .slideOut .slideOutButtonContainer::-webkit-scrollbar { 
  display: none; 
}

  #mainContainer .slideOut .slideOutButtonContainer > li{
    list-style-type: none;
    width: 25%;
    min-width: 25%;
    text-align: center;
  }
  #mainContainer .slideOut .slideOutButtonContainer > li:not(.active)::after{
    content:' ';
    display: inline-block;
    width: 2px;
    height: 3em;
    background-color: #8cc0d5;
    margin-top: auto;
    margin-bottom: auto;
  }
  #mainContainer .slideOut .slideOutButtonContainer > li.active::after{
    content:' ';
    display: inline-block;
    width: 2px;
    height: 3em;
    /*background-color: #8cc0d5;*/
    opacity: 0;
    margin-top: 1em;
    margin-bottom: -1em;
  }
  #mainContainer .slideOut .slideOutButtonContainer > li:last-of-type::after{
    opacity: 0;
  }
    #mainContainer .slideOut .slideOutButtonContainer .slideOutButton
    {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }  
    #mainContainer .slideOut .slideOutButtonContainer .slideOutButton .slideOutButtonLabel{
      color: white;
      padding: 0 1em;
      display: inline-block;
      width: 100%;
      pointer-events: none; /* allow passthru to button */
    }
/* END: .slideOutButtonContainer */

/* START: .slideOutDropdown */
#mainContainer .slideOut, 
#mainContainer .slideOut .slideOutInner, 
#mainContainer .slideOut .slideOutInner .gradientWrapper, 
#mainContainer .slideOut .slideOutInner .slideOutButtonContainer,
#mainContainer .slideOut .slideOutInner .slideOutButtonContainer .slideOutButton{
  overflow: visible; /* slideOutDropdown is rendered outside it's parent...was this the best approach? */
}

#mainContainer .slideOut .slideOutInner .slideOutButtonContainer:not(.scrollEnabled){
  overflow-x: hidden;
}
#mainContainer .slideOut .slideOutInner .slideOutButtonContainer.scrollEnabled{
  overflow-x: scroll; /* JS will disable scrolling when drowdown is active */
}
#mainContainer .slideOut .slideOutButton.active{
  background-color: rgba(0,140,42,1);
}
  #mainContainer .slideOut .slideOutButton:not(.active) > .slideOutDropdown{
    display: none;
  }
  #mainContainer .slideOut .slideOutButton.active > .slideOutDropdown{
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
.slideOutDropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*box-shadow: 0px .5em 1em 4px rgba(0,0,0,.5);*/
}
.slideOutDropdown ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 25em;
  width: 25vw; 
  overflow-y: scroll;
  border: 2px solid rgba(0,140,42,1);
  border-bottom: 0;
  margin-top: -1px; 
  background-color: white;
}
.slideOutDropdown ul::-webkit-scrollbar { 
  display: none; 
}
  .slideOutDropdown .slideOutDropdownContent{
    display: flex;
    align-items: flex-start;
    margin: .25em 0;
    padding: 0 .25em .25em;
    border-bottom: 3px solid #DDD;
    white-space: normal;
    text-align: left;
  }
  .slideOutDropdown .slideOutDropdownContent > img + div{
    padding: .25em;
  }
  .slideOutDropdown .slideOutDropdownContent > img + div > h3,
  .slideOutDropdown .slideOutDropdownContent > img + div > p{
    margin: .25em 0 0;
    color: rgb(0,117,163);
  }
/* END: .slideOutDropdown */

.scrollMoreRight{
  width: 3em;
}
.scrollMoreRight .tranparentChevron{
  width: 100%;
  height: 100%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  background: rgba(255,255,255,.5);
}

.scrollMoreDown{
  height: 2em;
  background: white;
  clip-path: polygon(100% 25%, 50% 100%, 0 25%, 0 0, 50% 75%, 100% 0);  
}
.scrollMoreDown .tranparentChevron{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.25);
}

.clipBorderHelper{
  background-color: rgba(0,140,42,1);
  padding: 0 2px 2px;
  clip-path: polygon(100% 25%, 50% 100%, 0 25%, 0 0, 50% 75%, 100% 0);
}