:root {
  --gunmetal: #253031;
  --greengrey: #315659;
  --blue: #2978a0;
  --bone: #e7decd;
  --ecru: #bcab79;
  --paleblue: #c6e0ff;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

body {
  background: var(--bone) url("tile.png") repeat left top;
  color: var(--gunmetal);
}

main {
  text-align: center;
}

main ol,
main ul {
  text-align: initial;
}

#rainbow {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding: 0.75rem 0;
  font-size: 0.8rem;
  background-color: var(--gunmetal);
  color: var(--bone);
  text-align: center;
  border-top: 4px solid var(--greengrey);
}

#construction {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#construction h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

#home-content {
  background-color: var(--bone);

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 1rem;

  min-height: 100lvh;
}

/*#region tablet styles*/
/* Medium devices such as tablets (1024px or lesser) */
@media only screen and (max-width: 1024px) {
}

/*#endregion tablet styles*/

/*#region mobile styles*/
/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
}

/*#endregion mobile styles*/
